@model IEnumerable<WebPruebaDevHive.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}

<h1>Inmuebles</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Ver Detalles</a> |
                        <!--<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>-->
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No se encontraron inmuebles.</p>
}
